<section class="flex flex-row gap-2 mt-2">
    <input type="text" class="input input-bordered mr-2 w-56" placeholder="Search by capital"
        (keyup.enter)="onSearchByCapital(txtSearch.value)" autofocus #txtSearch>

    <button class="btn btn-primary" (click)="onSearchByCapital(txtSearch.value)">Search</button>
</section>


<section class="mt-5">
    <table class="table table-md mt-2 w-full">
        <thead>
            <tr>
                <th>#</th>
                <th>Icon</th>
                <th>Flag</th>
                <th>Name</th>
                <th>Capital</th>
                <th>Population</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr></tr>
        </tbody>
    </table>
</section>